@import '../../styles/settings.scss';

.production {
    position: relative;

    background-color: #fff8e6;
    box-shadow: 0 0 100px 0 rgba(#000000, 0.5);

    &__wrapper {
        max-width: $widht--container;
        margin: 0 auto;
        padding: 20px;
    }

    &__title {
    }

    &__description {
        font-size: 16px;
        line-height: 1.4;
    }

    &__block {
        padding: 20px 0;

         + .production__block {
            border-top: 1px solid $color--primary;
        }
    }

    &__subtitle {
        margin-top: 20px;

        text-align: center;

        color: #00c1cf;

        font-size: 24px;
    }

    &__items {
        display: flex;

        flex-wrap: wrap;
        justify-content: center;
    }

    &__comparison {
        color: $color--primary-dark;
        margin-bottom: 1em;
        padding-bottom: 1em;
        position: relative;
        font-size: 1.2em;

        p {
            margin: 0;
        }

        &-title {
            color: #F66C25;
        }

        &::before {
            position: absolute;
            bottom: -5px;

            display: block;

            width: 100%;
            height: 1px;

            content: '';

            opacity: 0.5;
            background-color: $color--primary-dark;
        }
    }

    &__category-item {
        color: #00c1cf;

        &:not(:last-child)::after {
            content: ', ';
        }
    }

    &__category-price {
        color: #F66C25;
    }
}
