$color--primary: #00c1cf;
$color--primary-dark: darken($color--primary, 15%);
$color--button: $color--primary;
$color--button-bg: #ffffff;
$color--dark: #131313;
$color--link: $color--primary;
$height--header: 80px;
$height--footer: 200px;
$widht--container: 1000px;
